{
  "extends": "airbnb-base",
  "globals": {
    "V8Worker2": true
  },
  "settings": {
     "import/resolver": {
        "node": {
          "paths": ["."]
        }
     }
  },
  "rules": {
    "no-continue": 0,
    "prefer-const": ["error", {"destructuring": "all"}],
    "import/prefer-default-export": 0,
    "indent": ["error", 2, {"SwitchCase": 0, "CallExpression": {"arguments": "first"}}],
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
